[Unit]
Description=ATLAS job
Requires=autofs.service httpd.service vboxadd-service.service
After=network-online.target autofs.service httpd.service vboxadd-service.service

[Service]
User=atlas
Type=forking
TimeoutStartSec=1200
ExecStartPre=-/usr/bin/rm -f /home/atlas/ATLASJobAgent.pid
ExecStart=/home/atlas/ATLASbootstrap.sh
PIDFile=/home/atlas/ATLASJobAgent.pid

CPUSchedulingPolicy=batch
IOSchedulingClass=idle
IOSchedulingPriority=7

[Install]
WantedBy=multi-user.target
