[Unit]
Description=ATLAS job
Requires=autofs.service vboxguest.service
After=network.target autofs.service vboxguest.service

[Service]
User=atlas
Type=forking
ExecStart=/home/atlas/ATLASbootstrap.sh
PIDFile=/home/atlas/ATLASJobAgent.pid

[Install]
WantedBy=multi-user.target
