&(count=1)
(walltime=60)(cputime=60)
(jobname = "8a6e718d-c92a-4ece-9644-f4360db05202_98767")
(memory = 2000)
(runtimeenvironment="APPS/HEP/ATLAS-SITE")
(executable = runpilot2-wrapper.sh)
(arguments = "-q" "BOINC-TEST" "-r" "BOINC-TEST" "-s" "BOINC-TEST" "-j" "prod_test" "--pilot-user" "ATLAS" "--harvester-submit-mode" "PUSH" "-w" "generic" "--job-type" "managed" "--resource-type" "SCORE" "--pilotversion" "3" "--pythonversion" "3" "-z" "-t" "--piloturl" "local" "--mute")
(inputfiles =  (pandaJobData.out "")(runpilot2-wrapper.sh "/cvmfs/atlas.cern.ch/repo/sw/PandaPilotWrapper/latest/runpilot2-wrapper.sh")(pilot3.tar.gz "http://pandaserver.cern.ch:25085/cache/pilot/pilot3.tar.gz" "cache=check")(queuedata.json "http://pandaserver.cern.ch:25085;cache=check/cache/schedconfig/BOINC-TEST.all.json")("EVNT.04972714._000040.pool.root.1" "rucio://rucio-lb-prod.cern.ch;rucioaccount=pilot;cache=invariant/replicas/mc15_13TeV/EVNT.04972714._000040.pool.root.1") )
(stdout = "8a6e718d-c92a-4ece-9644-f4360db05202_98767.1.job.log")(join = yes)
("gmlog" = "gmlog")
("rerun" = "2")
(outputfiles = ("heartbeat.json" "")("@output.list" "") )
(priority = 100 )
(environment = ("PANDA_JSID" "harvester-CERN_central_ACTA")("GTAG" "http://aipanda404.cern.ch/data/jobs/2022-07-04/BOINC-TEST/5515971838.out")("PILOT_NOKILL" "YES"))
